<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Example of VisJs service for AngularJS</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/vis/dist/vis.min.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="AppCtrl">
        <button ng-click="agregarNodo()">Agregar Nodo</button>
        <button ng-click="toggleAnimacion()">Animación</button>
        <button ng-click="guardarPosicion()">Guardar posición</button>
        <button ng-click="restaurarPosiciones()">Restaurar posiciones</button>
        <button ng-click="addNextAtLast()">Agregar nodo al final</button>
        <label for="animacion">
            <input type="checkbox" id="animacion" ng-model="animacion" ng-change="toggleAnimacion()">
            Animación
        </label>
        <div id="network_vis" style="border: 1px solid black; height: 400px; margin: 20px;"></div>
    </div>
    <script src="../dist/mapa-recorrido.js"></script>
    <script src="js/app.js"></script>
</body>
</html>